@charset "UTF-8";
:root{
	--base-text-color:#666;
	--base-text-light:#fff;
	--primary-color:#1e598c;
	--base-text-color:#000;
}

*{
	margin:0;
	padding:0;
}
/**************public******************/
a{
	color:inherit;
	text-decoration: none;
}

html {
	font-size:20px;
	scroll-behavior:smooth;
	box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.d-none{
	display:none;
}
h3.title{
	font-size:1.5rem;
	font-weight: 500;
	color: var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	text-align:center;
	margin: 5rem 0 0 0;
	padding: 0 0 1rem 0;
}
.container{
	max-width: 1000px;
	margin:0 auto;
	overflow: hidden;
}
.pos-relative{
	position: relative;
}
.pos-absolute{
	position: absolute;
}
button{
	background-color: transparent;
	border:0;
}
.top-nav{
	display:flex;
	column-gap: 38.35rem;
	align-items: baseline;
}
.mt-100{
	margin-top: 5rem;
}


/*****************header*******************/
header{
	background-image: url("../images/visual_bg.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	height: 950px;
	overflow:hidden;
}
body{
	font-family : "Maven Pro", "Noto Sans KR", sans-serif;
	font-size: .8rem;
	font-weight:400;
	color: var(--base-text-color);
}


.logo{
	margin: 2rem 0 0 0;
}
.slogan{
	text-align:center;
	margin-top: 11.9rem;
}


.sub-title{
	font-weight: 500;
	color: var(--base-text-light);
	background-color: var(--primary-color);
	padding: .5rem 0;
	text-align:center;
	width: 15rem;
	margin:0 auto 1rem auto;
}

/***********************article*******************/
.system-bg{
	background-image: url(../images/system_bg.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
	background-size: cover;
}
.system-list{
	display:flex;
	column-gap: 1rem;
	justify-content: center;

}

.system-list li{
	border-radius:50%;
	overflow: hidden;	
	margin:3rem 0 ;
}
.overlay{
	background-color : rgb(0,0,0,.3);
	color: var(--base-text-light);
	width:100%;
	height: 100%;
	
	display:none;
	/* 나중에 보이게 flex 해주어야함. */
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.system-list li:hover .overlay{
	display:flex;
}
.over-title{
	font-size: 1.2rem;
}
.over-title+ .material-symbols-outlined{
	font-size:2rem;
}
/*************second article****************/
.sub-dec{
	margin: 1rem auto;
	font-size:1.8rem;
	font-weight:700;
	text-align:center;
}
.sub-dec strong{
	color:#ed480e;
}
.new-item{

	display:flex;
	flex-direction: column;
	align-items: center;
}
.new-item img:nth-of-type(1){
	width:30rem;
	object-fit : cover;
}
.new-item button:nth-of-type(1){
	border: 1px solid var(--base-text-color,tomato);
	border-radius: 1.5rem;
	padding: .5rem 1rem;
	font-size: .8rem;
	color:var(--base-text-color,tomato);
}
